<%- include('./partials/blogheader.ejs'); -%>
<div class="main-content">
  <h1>Home</h1>
  <p><%= homeContent %></p>

  <% if (posts.length > 0) { %>
      <% posts.forEach(post => { %>
          <h1><%= post.title %></h1>%>
          <% if (post.content.length > 200) { %>
              <p><%= post.content.slice(0, 200) + ' ...' %> <a href='posts/<%=post._id%>' > Read More</a></p>
          <% } else { %>
              <p><%= post.content %> </p>
          <% } %>
      <% }); %>
      
  <% } %>
</div>

<%- include('./partials/blogfooter.ejs'); -%>

